<% container do %>
<div class="person_entry">
	<div class="avatar" style="background-image:url(<%=h person.gravatar_url( :size => 56 ) %>)"></div>

	<!-- <img src="/stylesheets/images/img_gravatar.png" alt="avatar" title="avatar" /> -->

	<div class="person_name">
		<a href="<%= url_for( :controller => 'people', :action => 'show', :id => person.id ) %>"><%=h person.name %></a>
	</div>
	<div class="person_amount">
		<%= price( person.amount_owed_to( current_person.id, current_person.currency_id ) ) %>
	</div>
</div>
<% end %>