<div class="container">
	<div class="containerTop"></div>
	<div class="containerContent">

		<table cellspacing="0">
			<tr>
				<td class="gravatar"><img src="/stylesheets/images/img_gravatar.png" alt="avatar" title="avatar" /></td>
				<td class="description"><a href="<%= url_for( :controller => 'people', :action => 'show', :id => person.id ) %>"><%=h	 person.name %></a></td>
				<td class="totalAmount">&nbsp;</td>
				<td class="amount"><%= price( person.amount_owed_to( current_person.id, current_person.currency_id ) ) %></td>

			</tr>
		</table>
	
	</div>
	<div class="containerBottom"></div>
</div>