<h2>Many thanks go to: </h2>

<% container do %>
	<ul>
		<li>
			Jens Scherbl (<a href="http://www.instantbonsai.net" rel="nofollow">instant.bonsai</a>) who made the initial design.
		</li>
		<li>
			Martin Kleppmann (<a href="http://martin.kleppmann.de" rel="nofollow">martin.kleppmann.de</a>)
			who wrote the original "Scrooge" (a command line perl program) during his studies at college and
			who had many good ideas for the scroOoge.
		</li>
		<li>
			all the beta testers for helping me make the scroOoge more stable and usefull!
		</li>
	</ul>
<% end %>