
<h2>Your balance with other people:</h2>
<% for deptor in @deptors_and_creditors %>
	<div onclick="">
		<%= render :partial => 'people/person_row', :locals => { :person => deptor }%>
	</div>
<% end %>
<h2>Description:</h2>
<p>
	<span style="color:red;">Red</span> means you owe the person.<br />
	<span style="color:green;">Green</span> means the person owes you.
</p>
