/* globals */

a:link, a:visited {
	color: #666;
	text-decoration: none;
}

	a:hover, a:active {
		color: #333;
		text-decoration: underline;
	}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

input[type=text], input[type=password], textarea, select {
	padding: 5px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #666;
	background: #fff url(images/input_bg.png) repeat-x;
	border: 1px solid #ccc;		
}


/* layout */ 

html {
	min-height: 100%;
	overflow-y: scroll;	
}

body {
	min-height: 100%;
	color: #666;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	background-color: #f1f1f1;
}


	div#wrapperSection1 {
		background-color: #f1f1f1;
	}
	
		div#section1 {
			margin: 0 auto;
			padding: 10px 0;
			width: 700px;
		}

			div#section1 div#signin {
				float: left;
				line-height: 41px;
			}
		
			div#section1 img#logo {
				float: right;
			}

	div#wrapperSection2 {
		background: url(images/div_section2_bg.png) top repeat-x;
	}		

		div#section2 {
			position: relative;
			margin: 0 auto;
			padding-top: 19px;
			width: 700px;
			height: 116px;
		}
		
			div#section2_tabs {
				position: absolute;
				bottom: 0;
				right: 0;
			}
			
				#section2_tabs .tab {
					display: block;
					padding: 4px 4px 0;
					width: 120px;
					height: 25px;
					float: left;
					font-weight: bold;
					text-align: center;
					line-height: 25px;
				}
				
				#section2_tabs .tab.focus {
					background: url(images/div_tab_focus.png) top no-repeat;	
				}
				
				#section2_tabs .tab.blur {
					background: url(images/div_tab_blur.png) top no-repeat;	
				}			
		
	div#wrapperSection3 {
		background-color: #f1f1f1;		
	}
	
		div#section3 {
			margin: 0 auto;
			padding: 25px 0;
			width: 700px;
		}
		
			div#footer {
				margin-top: 10px;
				padding: 0 10px;
				font-size: 11px;
				text-align: right;
			}

span.minus {
	color: red;
}

span.plus {
	color: #0f0;
}


div.pd_container {
	position: relative;
	padding: 0;
	margin-bottom: 35px;
	width: 700px;
}
	
	div.pd_container div.pd_containerTop {
		position: absolute;
		width: 700px;
		height: 14px;
		background: url(images/div_containerTop.png) no-repeat;
	}
	
		div.pd_container div.pd_containerContent {
			position: relative;
			top: 14px;
			width: 652px;
			padding: 0 24px;
			background: url(images/div_containerContent.png) repeat-y;
		}
		
	div.pd_container div.pd_containerBottom {
		position: absolute;
		width: 700px;
		height: 14px;
		bottom: -28px;
		background: url(images/div_containerBottom.png) no-repeat;
	}

/* new stuff */

div.fieldWithErrors {
	display: inline;
}

.error, div.fieldWithErrors input {
	border: 1px solid red !important;
}

.error_message {
	color: red;
	margin-left: 195px;
}

div.person_entry {
	padding: 0 !important;
	margin: 0 !important;
	height: 52px;
}

.avatar56 {
	position: absolute;
	width:56px;
	height:56px;
	top: -2px;
	left: 12px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}


.person_entry .person_name {
	position: absolute;
	top: 17px;
	left: 92px;
}

.person_entry .person_amount {
	position: absolute;
	top: 17px;
	right: 26px;
	font-size: 1.1em;
}

#flash{
	display:none;
	position:absolute;
	top: 0;
	left: 30px;
	width: 600px;
	font-size: 20px;
	background-color: #ff9;
	z-index:10;
	margin: 0 auto;
	padding: 20px 20px;
	border: 1px solid #555;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#new_bill_button {
	position: absolute;
	left: 4px;
	bottom: -14px;
	border: none;
}

option {
	padding: 5px 0 5px 0;
	font-size: 14px;
}

/* ----- */

option.first {
	font-weight: bold;
	text-color: #333;
}

option.first, option.second {
	background-repeat:no-repeat;
	background-position: 2px 3px;
	padding-left:32px;
}

#bill_fields {
	position: relative;
	height: 140px;
}

#bill_fields > * {
	position: absolute;
}

#bill_name{
	left: 0;
	top: 15px;
	width: 638px;
	font-size: 30px;
}

#bill_fields div{
	margin: 0;
	top: 80px;
}

div#payer_field{
	left: 0	;
}

#payer_field select {
	width: 440px;
	height: 36px;
	padding-top: 6px;
	font-size: 18px;
}

#payer_field label {
	margin-right: 4px;
}

div#amount_field {
	right: 0;
	font-size: 20px;
}

#amount_field input{
	font-size: 20px;
	text-align: right;
	width: 70px;
}

/* new bill form participants */

#participant_table {
	width: 620px;
	margin: 20px 30px 0 30px;
}

#participant_table td {
	text-align: center;
}

#participants .participant_row_template {
	display: none;
}

#participants .avatar {
	height: 40px;
	width: 40px;
}

#participants .factor {
	width: 35px;
	text-align: center;
}

div#add_person {
	margin: 30px 0 0 150px;
	padding-bottom: 70px;
}

#person_id {
	width: 320px;
	height: 36px;
	padding-top: 6px;
	font-size: 18px;
}

button, input[type=submit] {
	width: 124px;
	height: 36px;
	background-color: white;
	background-image: url("/images/button.png");
	border: none;
	font-size: 14px;
	padding-bottom: 2px;
}

#create_bill_button {
	position: absolute;
	right: 22px;
	bottom: 6px;
}


/* preferences */

.form_fields label {
	float: left;
	width: 180px;
	text-align: right;
	margin-right: 15px;
	line-height: 26px;
}

.form_fields input[type=text], .form_fields input[type=password], .form_fields select {
	position:relative;
	width: 305px;
}
.form_fields input[type=submit] {
	position: relative;
	bottom: 7px;
	float:right;
}