<div class="container">
	<div class="containerTop"></div>
	<div class="containerContent">

		<table cellspacing="0">
			<tr>
				<td class="gravatar"><img src="/stylesheets/images/img_gravatar.png" alt="avatar" title="avatar" /></td>
				<td class="description"><%= description %></td>
				<td class="totalAmount"><%= total_amount %></td>
				<td class="amount"><%= amount %></td>

			</tr>
		</table>
	
	</div>
	<div class="containerBottom"></div>
</div>